<button>Đăng nhập</button>
<table mat-table [dataSource]="customers">
    <!-- Define columns -->
    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef> Tên Khách hàng </th>
      <td mat-cell *matCellDef="let customer"> {{ customer.CUSTOMER_NAME }} </td>
    </ng-container>
  
    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef> Giới tính </th>
      <td mat-cell *matCellDef="let customer"> {{ customer.SEX }} </td>
    </ng-container>
  
    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef> Ngày sinh </th>
      <td mat-cell *matCellDef="let customer"> {{ customer.BIRTHDAY }} </td>
    </ng-container>
  
    <!-- More columns as needed -->
  
    <!-- Row definition -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  